@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@font-face {
  font-family: "myFont";
  src: url("/Font/Foglihtenno07-e9wz3.otf") format("opentype");
}

body {
  font-family: "Raleway", sans-serif;
  @apply flex flex-col gap-[5vh] bg-white md:my-[60px] sm:my-[40px] my-[15px] lg:mx-[8vw] md:mx-[6vw] sm:mx-[4vw] mx-[1vw] overflow-x-hidden;
}

p {
  @apply text-black font-normal md:text-base text-sm;
}

h1 {
  @apply lg:text-5xl md:text-4xl text-3xl font-normal text-primary uppercase;
  font-family: "myFont", sans-serif;
}

h2 {
  @apply lg:text-4xl md:text-3xl text-2xl font-normal text-primary uppercase;
  font-family: "myFont", sans-serif;
}

/* Nav Styles */
nav {
  @apply xl:pb-4 border-b-[1px] border-black/25;
}

nav .navItem {
  @apply text-primary text-lg font-medium relative px-1;
}

nav .navItem::after {
  @apply bg-primary;
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease-in; /* Adjust the transition duration as needed */
}

nav .navItem:hover::after {
  width: 100%;
}

nav div {
  @apply items-center justify-between gap-12;
}

nav #Nav_Links {
  @apply hidden md:flex;
}

/* Button Styles */
button {
  @apply h-auto text-primary font-medium text-base rounded-3xl border-[1px] 
  border-primary px-8 leading-3 relative bg-white py-2
  hover:bg-primary hover:text-white cursor-pointer transition duration-300 ease-in;
}

/* Hero Styles */
#Hero {
  @apply flex lg:flex-row flex-col lg:gap-8 gap-[2vh] items-center justify-center w-full h-auto;
}

.heroText {
  @apply h-[65vh] py-[8vh] basis-1/2 flex flex-col justify-between;
}

/* .heroText p {
  @apply lg:text-base text-sm my-2;
} */

.heroImg {
  @apply border-[1px] rounded-3xl border-primary basis-1/2 h-[65vh] w-auto;
}
