@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
body {
  font-family: "Raleway", sans-serif;
  @apply bg-white my-[60px] max-w-[1280px] mx-auto;
}

/* Nav Styles */
nav {
  @apply xl:pb-4 border-b-2 border-black/15;
}

nav .navItem {
  @apply text-primary font-medium text-xl relative px-1;
}

nav .navItem::after {
  @apply bg-primary;
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease-in; /* Adjust the transition duration as needed */
}

nav .navItem:hover::after {
  width: 100%;
}

nav div {
  @apply items-center justify-between gap-12;
}

nav #Nav_Links {
  @apply hidden md:flex;
}

/* Button Styles */
button {
  @apply h-auto text-primary font-medium text-xl rounded-3xl border-2 border-primary px-10 leading-3 relative bg-white py-2.5;
  transition: background-color 0.3s ease-in;
}
button:hover {
  @apply bg-primary text-white;
}
